# Database connection
db_host=127.0.0.1
db_port=3306
db_name=komida
db_user=your_db_user
db_password=your_db_password

# API basic auth
api_user=api_user
api_password=api_password

# Meat forecasting tables
db_table_raw_meat=raw_monitorings_meat
db_table_forecasting_history=forecasting_history
db_table_predicted_price=predicted_prices

# Seafood source tables
db_raw_seafood_table_name=raw_monitorings_seafood
db_raw_caviar_table_name=raw_monitorings_caviar
db_raw_fish_table_name=raw_monitorings_fish
db_raw_shrimp_table_name=raw_monitorings_shrimp
db_raw_semiprocessed_table_name=raw_monitorings_semiprocessed

HF_TOKEN=token