# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile*
docker-compose*.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
# TODO раскомментировать после изменения docker-compose файлов
# .env

# Logs
logs/

# Temporary files
tmp/
temp/
var/

# Tests
tests/

# IDE
.idea/
.vscode/

# Other
README.md
