# Telegram =============================================
API_TOKEN=API_TOKEN

# API Authentication ===================================
API_KEY=YOUR_API_KEY_HERE

# LLM settings =========================================
USE_OLLAMA_ONLY=false

# InlineGPT generation hyperparameters (используется для InlineGPT и VseGPT)
INLINE_TEMPERATURE=0.7
INLINE_TOP_P=0.8
INLINE_MAX_TOKENS=2000
INLINE_FREQUENCY_PENALTY=0.1
INLINE_PRESENCE_PENALTY=0.1

# Ollama generation hyperparameters
OLLAMA_TEMPERATURE=0.3
OLLAMA_TOP_P=0.8
OLLAMA_TOP_K=20
OLLAMA_REPEAT_PENALTY=1.1
OLLAMA_NUM_PREDICT=300
OLLAMA_NUM_CTX=4096

# Inline
INLINE_API_KEY=INLINE_API_KEY
INLINE_BASE_URL=INLINE_BASE_URL

# VseGPT
VSEGPT_API_KEY=VSEGPT_API_KEY
VSEGPT_BASE_URL=VSEGPT_BASE_URL

# Ollama
OLLAMA_API_KEY=OLLAMA_API_KEY
OLLAMA_BASE_URL=OLLAMA_BASE_URL

#Openrouter
OPENROUTER_API_KEY=api_key
OPENROUTER_BASE_URL=url

# Helicone
HELICONE_KEY=HELICONE_KEY
HELICONE_URL=HELICONE_URL

ORGANIZATION=YOUR_ORGANIZATION
PROJECT_ID=PROJECT_ID
REQUEST_TIMEOUT=30

# Models -----------------------------------------------
#   Языковые:
#       - qwen/qwen3-14b
#       - openai/gpt-4o-mini
#       - google/gemma-3-27b-it
#   Для распознавания текста:
#       - vis-google/gemma-3-27b-it
#       - utils/pdf-ocr-1.0

# Language
INLINE_MODEL=Qwen/Qwen3-14B-AWQ
VSEGPT_MODEL=openai/gpt-4o-mini
OLLAMA_MODEL=mistral-nemo:12b

# OCR
OCR_MODEL=vis-google/gemma-3-27b-it

# EVALUATION
EVALUATION_MODEL=openai/gpt-4o-mini

# Supported tools
TOOL_MODEL=openai/gpt-4o-mini

# Embedding model
EMBEDDING_MODEL=emb-openai/text-embedding-3-small

# Docker ===============================================
COMPOSE_PROJECT_NAME=rag

# Web
API_SERVICE_HOST_PORT=8000
API_SERVICE_CONTAINER_PORT=8000

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_EMAIL=PGADMIN_EMAIL
PGADMIN_PASSWORD=PGADMIN_PASSWORD

# Database
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB
DB_HOST=DB_HOST
DB_PORT=DB_PORT

# KNOWLEDGE BASE =======================================

KNOWLEDGE_BASE_TYPE=file
KNOWLEDGE_BASE_PATH=knowledge/data

# MODE =================================================

MODE=dev

#   MODE:
#     - dev (этап разработки):
#         - при взаимодействии с пользователем выводится дополнительная отладочная информация с указанием категории вопроса
#     - debug (отладка промтов через helicone)
#     - prod (этап эксплуатации)